/* Profile Container */
.profile-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(56, 189, 248, 0.7);
}

/* Glow ring animation */
.profile-img.glow {
    box-shadow: 0 0 0px rgba(56, 189, 248, 0.7);
    animation: profileGlow 1.5s ease-in-out infinite;
}

@keyframes profileGlow {
    0% {
        box-shadow: 0 0 0px rgba(56, 189, 248, 0.7);
    }

    50% {
        box-shadow: 0 0 15px rgba(56, 189, 248, 0.9);
    }

    100% {
        box-shadow: 0 0 0px rgba(56, 189, 248, 0.7);
    }
}

/* Dropdown */
.profile-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: linear-gradient(135deg, #084347, #000000, #084347);
    backdrop-filter: blur(15px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 255, 213, 0.26);
    border-radius: 15px;
    padding: 1.5rem;
    min-width: 240px;
    animation: dropdownFade 0.3s ease;
}

.profile-dropdown h4 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    padding: 0.8rem 0;
}

.profile-dropdown p {
    margin: 0.2rem 0;
    font-size: 0.8rem;
    color: #ffffff;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.profile-dropdown .role {
    display: block;
    font-size: 0.8rem;
    color: #38bdf8;
    margin-bottom: 0.5rem;
}

.profile-info p {
    font-size: 0.85rem;
    color: #d1d5db;
    margin: 0.2rem 0;
}

.profile-info strong {
    color: white;
}

.profile-dropdown hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0.5rem 0;
}

.profile-links {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.profile-links a {
    color: #38bdf8;
    text-decoration: none;
    font-size: 0.9rem;
}


/* Animation */
@keyframes dropdownFade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}